<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{project.image}}" alt="">
    <small>View Larger</small>
  </a>
  <h3>{{project.title}}</h3>
  <div class="detail founders">
    <span>Founders:</span> {{project.founders}}
  </div>
  <div class="detail category">
    <span>Category:</span> {{project.category}}
  </div>
  <div class="detail headquarters">
    <span>Headquarters:</span> {{project-property-headquarters project.headquarters}} - {{project.headquarters}}
  </div>
  <div class="detail founded-at">
    <span>Founded at:</span> {{project.foundedAt}}
  </div>
</article>
