<div class="row clearfix">
  <div class="col-xs-12 column">
    <article class="well well-lg">
      <div class="row clearfix">
        <div class="col-md-4 {{if isWide "wide"}}">
          <a {{action 'toggleImageSize'}} class="image">
            <img src="{{project.image}}" alt="">
            <small>View Larger</small>
          </a>
        </div>
        <div class="col-md-8">
          <h3 class="title">
            {{#link-to 'projects.show' project }}
              {{project.title}}
            {{/link-to}}
          </h3>
          {{#link-to 'projects.edit' project }}
            Edit
          {{/link-to}}
          <div class="detail founders">
            <span>Founders:</span>
            <span class="text">
              {{project.founders}}
            </span>
          </div>
          <div class="detail category">
            <span>Category:</span>
            <span class="text">
              {{project.category}}
            </span>
          </div>
          <div class="detail headquarters">
            <span>Headquarters:</span>
            <span class="text">
              {{project-property-headquarters project.headquarters}} - {{project.headquarters}}
            </span>
          </div>
          <div class="detail founded-at">
            <span>Founded at:</span>
            <span class="text">
              {{project.foundedAt}}
            </span>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
