<div class="row clearfix">
  <div class="col-xs-12 column">
    <article class="well well-lg">
      <div class="row clearfix">
        <div class="col-md-4 {{if isWide "wide"}}">
          <a {{action 'toggleImageSize'}} class="image">
            <img src="{{project.image}}" alt="">
            <small>View Larger</small>
          </a>
        </div>
        <div class="col-md-8">
          <h3>
            {{#link-to 'projects.show' project }}
              {{project.title}}
            {{/link-to}}
          </h3>
          <div class="detail founders">
            <span>Founders:</span> {{project.founders}}
          </div>
          <div class="detail category">
            <span>Category:</span> {{project.category}}
          </div>
          <div class="detail headquarters">
            <span>Headquarters:</span> {{project-property-headquarters project.headquarters}} - {{project.headquarters}}
          </div>
          <div class="detail founded-at">
            <span>Founded at:</span> {{project.foundedAt}}
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
